body{
    background-color: black;
}
.img1{
    width: 1000px; 
    height: 600px;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 15px 5px #ff0000; 
}
h2{
    color: white;
    text-align: center;
}
h3{
    color: white;
    text-align: end;
}